.ab-section-1 {
    background: url('../assets/images/Backgroug\ image.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    padding-top: 100px;
    text-align: center;
    gap: 10px;
}

.ab-section-1 h1 {
    font-size: 70px;
}

.ab-section-1 p {
    font-size: 18px;
    font-weight: bold;
}

.ab-section-1 button {
    background-color: #f53b03;
    padding: 5px 10px;
    border-radius: 7px;
    color: white;
}

.ab-section-2 {
    padding: 30px;
    background-color: white;
}

.ab-section-2-img {
    background: url('../assets/images/Frame\ 34849.png');
    background-size: cover;
    width: 100%;
    height: 578px;
    border-radius: 20px;
}

.ab-section-2-list {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ab-section-2-list-box {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.ab-section-2-list-box h1 {
    font-size: 60px;
}

.ab-section-2-list-box p {
    padding-top: 15px;
}

.ab-section-3 {
    background-color: #F6F4EF;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    padding: 50px 30px 10px 30px;
}

.ab-section-3 p {
    width: 600px;
    font-weight: 600;
}

.ab-section-4 {
    padding: 50px 30px 50px 30px;
    background-color: #F6F4EF;
    text-align: justify;
}

.ab-section-4-box {
    background-color: #FFD966;
    padding: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ab-section-4 h1 {
    font-size: 56px;
}

.ab-section-4 span {
    font-weight: bold;
    margin-left: 400px;
    font-size: 28px;
    margin-top: 20px;
}

.ab-section-4 h6 {
    margin-left: 400px;
    width: 70%;
    font-size: 28px;
}

.ab-section-5 {
    padding: 50px 30px 50px 30px;
    background-color: white;
}

.ab-section-5 h1 {
    margin-bottom: 30px;
}

.ab-section-5-container {
    display: flex;
    justify-content: center;

}

.ab-section-5-container-box-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.ab-section-5 span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background-color: #F6F4EF;
    padding: 20px;
    border-radius: 20px;
}

.ab-section-5-box span {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.ab-section-5 p {
    padding: 10px;
    background-color: #F6F4EF;
    padding: 0px 20px 20px 25px;
    text-align: justify;
}

/* Mobile Phones (<480px) */
@media (max-width: 480px) {

    .ab-section-1 h1 {
        font-size: 30px;
    }

    .ab-section-1 p {
        font-size: 16px;
    }

    .ab-section-2-img {
        width: 100%;
        height: 200px;
        margin-top: -100px;
    }

    .ab-section-2-list {
        display: flex;
        flex-wrap: wrap;
    }

    .ab-section-2-list h1 {
        font-size: 24px;
    }

    .ab-section-3 {
        display: flex;
        flex-wrap: wrap;
    }

    .ab-section-4-box {
        display: flex;
        flex-wrap: wrap;
    }

    .ab-section-4-box h1 {
        font-size: 24px;
    }

    .ab-section-4-box span {
        margin: 0;
        font-size: 18px;
    }

    .ab-section-4-box h6 {
        margin: 0;
        font-size: 18px;
        width: 100%;
    }

    .ab-section-5-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .ab-section-5-container-box-1 {
        width: 100%;
    }

    .ab-section-5-box {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .ab-section-5-box span {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        width: 100%;
    }

    .ab-section-5-container-box-2 {
        width: 100%;
    }

    .ser-section-6-container span {
        font-size: 18px;
    }

    .ab-section-5-box p{
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .ab-section-1 h1 {
        font-size: 40px;
    }

    .ab-section-2-img {
        height: 300px;
    }

    .ab-section-3 {
        display: flex;
        flex-wrap: wrap;
    }

    .ab-section-4-box h1 {
        font-size: 28px;
    }

    .ab-section-4-box span {
        margin: 0;
        font-size: 20px;
    }

    .ab-section-4-box h6 {
        margin: 0;
        font-size: 15px;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .ab-section-1 h1 {
        font-size: 40px;
    }

    .ab-section-2-img {
        height: 300px;
    }

    .ab-section-3 {
        display: flex;
        flex-wrap: wrap;
    }

    .ab-section-4-box h1 {
        font-size: 28px;
    }

    .ab-section-4-box span {
        margin: 0;
        font-size: 20px;
    }

    .ab-section-4-box h6 {
        margin: 0;
        font-size: 15px;
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .ab-section-1 h1 {
        font-size: 40px;
    }

    .ab-section-2-img {
        height: 300px;
    }

    .ab-section-3 {
        display: flex;
        flex-wrap: wrap;
    }

    .ab-section-4-box h1 {
        font-size: 28px;
    }

    .ab-section-4-box span {
        margin: 0;
        font-size: 20px;
    }

    .ab-section-4-box h6 {
        margin: 0;
        font-size: 15px;
        width: 100%;
    }
}