.footer {
  overflow: hidden;
  width: 100%;
}

/* SECTION 1 */
.f-section-1 {
  background-color: #f53b03;
  padding: 70px 100px;
  color: white;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.f-section-1-left {
  flex: 1 1 300px;
}

.f-section-1-right {
  flex: 1 1 300px;

}

.f-section-1-right form{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.f-section-1-right form input,
.f-section-1-right textarea {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  color: black;
}

.f-section-1-right form button {
  background-color: white;
  color: #f53b03;
  width: 100px;
  padding: 5px 10px;
  border-radius: 15px;
  font-weight: bold;
}

.f-section-1-right form button:hover {
  background-color: #f53b03;
  color: white;
  border: 1px solid white;
}

.f-icons {
  display: flex;
  gap: 15px;
  font-size: 28px;
  margin-top: 10px;
}

/* SECTION 2 */
.f-section-2 {
  background-color: #F6F4EF;
  padding: 70px 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.f-section-2-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.col-8 {
  flex: 1 1 300px;
}

.col6 {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.f-section-1-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.f-section-1-left h1 {
  font-size: 67px;
}

.f-section-1-left p {
  font-size: 18px;
}

.f-section-2-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.col-8 p {
  width: 40%;
  text-align: justify;
}

/* RESPONSIVE BREAKPOINTS */
@media (max-width: 992px) {
  .f-section-1 {
    padding: 50px;
  }

  .f-section-2 {
    padding: 50px;
  }

  .f-section-2-top {
    flex-direction: column;
  }

  .col6 {
    justify-content: flex-start;
    gap: 30px;
  }
}

@media (max-width: 600px) {
  .f-section-1 {
    padding: 40px 20px;
    flex-direction: column;
  }

  .f-section-1-right {
    width: 100%;
  }

  .f-section-2 {
    padding: 40px 20px;
  }

  .f-section-2-bottom {
    flex-direction: column;
    align-items: flex-start;
  }

  .f-icons {
    font-size: 24px;
  }
}